.body {
    background-color: #084d6e;
    font-family: font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.table {
    background-color: white;
}
#tabela td {
    vertical-align: inherit;
    border-top: 1px solid #6c757d;
    font-weight: bolder;
}
#container {
    justify-content: center;
    width: 70%;
    text-align: center;
}
.form {
    text-align: left;
    margin-top: 100px;
    display: flex;
}
#btnSair {
    border-color: #828b92;
    position:absolute;
    left: 90%;
    width: 100px;
}
.fundoRed {
    background-color: #8B0000;
    color: white;
}
label {
    color: white;
}
.panel {
    display: flex;
    margin-top: 20px;
}
.periodo{
    width: 190px;
    border-radius: 0.5em;
    padding: 4px;
}
.hide {
    display: none;
}

